* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  align-items: center;
  background-image: url('./img/background.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.divLogin {
  align-items: center;
  background: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 333px;
  justify-content: center;
  margin: 50px;
  width: 614px;
}

.imgLogo {
  margin-bottom: 53px;
}

.input {
  border: 1px solid rgb(97, 19, 165);
  border-radius: 5px;
  height: 45px;
  margin-bottom: 10px;
  padding-left: 14px;
  width: 519px;
}

.input::placeholder {
  color: rgba(97, 19, 165, 0.485);
}

.buttonLogin {
  background-color: rgb(97, 19, 165);
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 17px;
  height: 45px;
  margin: 10px;
  width: 519px;
}
